.container {
    position: fixed;
    top: 0;
    left: 0;
}

.video, .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
}

.box {
    position: absolute;
    border: 1px rgba(0, 255, 0, 1) solid;
    color: rgba(0, 255,0, 1);
    background: rgba(150, 255,150, 0.3);
}   